<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{- if .IsHome }}
          <meta name="description" content="{{ .Site.Params.Description }}">
      {{- else if .Description }}
          <meta name="description" content="{{ .Description }}">
      {{- end }}

      <title>
          {{- if .IsHome }}
              {{ .Site.Title }}
          {{- else }}
              {{ .Title }} &middot; {{ .Site.Title }}
          {{- end }}
      </title>

      <!-- CSS -->
      {{- $inServerMode	:= .Site.IsServer }}
      {{- $cssTarget		:= "css/style.css" }}
      {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
      {{- $style			:= resources.Get "scss/hallo.scss" | resources.ExecuteAsTemplate "style.hallo.scss" . | toCSS $cssOptions }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">

      <link rel="stylesheet" href="">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
      <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
      <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">

      <!-- RSS -->
      <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

      {{ if hugo.Environment | eq "production" }}
          {{ template "_internal/google_analytics_async.html" . }}
      {{ end }}
  </head>

  <body>
    <main>
        <div class="block introduction">
            <div class="column left">
                <img src="https://placekitten.com/300/300" class="portrait" alt="Portrait" />
            </div>
            <div class="column right">
                <h1>{{ i18n "hello" }}.</h1>
                <h2>{{ i18n "i-am" }} {{ .Site.Author.name | default "Hallo" }}.</h2>
                <p>I love you too</p>

                <div class="links">
                    {{- range .Site.Params.links -}}
                        <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                            <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}"></span>
                        </a>
                    {{- end -}}
                </div>
            </div>
        </div>

        {{- if (fileExists "layouts/partials/content.html") -}}
            <div class="block">
                <div class="column left"></div>
                <div class="column right">
                    {{- partial "content.html" . -}}
                </div>
            </div>
        {{- end -}}
    </main>

    <footer>
      <div class="column"></div>
      <div class="column">
          {{ i18n "generator" | safeHTML }}
      </div>
    </footer>
  </body>

</html>
